@model IEnumerable<Estampas.Models.Producto>

@{
    ViewData["Title"] = "Index2";
}

<h1>Estampas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                    <img src="@Url.Content("~")/@item.ImagePath" style="width: 150px; height: 150px;" />
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                    <a asp-action="Comprar" asp-route-id="@item.ProductoId">Comprar</a> |
            </td>
        </tr>
}

    </tbody>
</table>
